body {
  background: inherit;
  padding: 50px 0;
  font: 15px/20px Arial, sans-serif;
}

.container-c {
  margin: 0 auto;
  width: 300px;
  height: 432px;
  position: relative;
  perspective: 10000px;
}

.carousel {

  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.item {
  display: block;
  position: absolute;
  background: #111;
  width: 100%;
  height: 423px;
  line-height: 200px;
  font-size: 5em;
  text-align: center;
  color: #FFF;
  opacity: 0.95;
  border-radius: 10px;
  text-align: center;
}

.a {
  transform: rotateY(0deg) translateZ(310px);

}
.b {
  transform: rotateY(60deg) translateZ(310px);

}
.c {
  transform: rotateY(120deg) translateZ(310px);

}
.d {
  transform: rotateY(180deg) translateZ(310px);

}
.e {
  transform: rotateY(240deg) translateZ(310px);

}
.f {
  transform: rotateY(300deg) translateZ(310px);

}

.next, .prev {
  color: #222;
  position: absolute;
  top: 50%;
  padding: 10px 16px;
  cursor: pointer;
  background: gray;
  opacity: 0.8;
  border-radius: 50px;
  border-top: 1px solid #FFF;
}
.next:hover, .prev:hover { color: #000; }
.next:active, .prev:active {
  top: 51%;
}
.next { right: 5em; }
.prev { left: 5em; }
